<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.provider.safe.dao.DictItemMapper">
  <resultMap id="BaseResultMap" type="com.cloud.provider.safe.po.DictItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="dict_id" jdbcType="INTEGER" property="dictId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_alias" jdbcType="VARCHAR" property="itemAlias" />
    <result column="item_level" jdbcType="INTEGER" property="itemLevel" />
    <result column="item_status" jdbcType="INTEGER" property="itemStatus" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="created" jdbcType="VARCHAR" property="created" />
    <result column="updated" jdbcType="VARCHAR" property="updated" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, enterprise_id, dict_id, item_name, item_alias, item_level, item_status, is_delete, 
    remark, sort, created, updated, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.cloud.provider.safe.po.DictItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dict_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dict_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dict_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cloud.provider.safe.po.DictItemExample">
    delete from dict_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cloud.provider.safe.po.DictItem" useGeneratedKeys="true" keyProperty="id">
    insert into dict_item (id, enterprise_id, dict_id, 
      item_name, item_alias, item_level, 
      item_status, is_delete, remark, 
      sort, created, updated, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=INTEGER}, #{dictId,jdbcType=INTEGER}, 
      #{itemName,jdbcType=VARCHAR}, #{itemAlias,jdbcType=VARCHAR}, #{itemLevel,jdbcType=INTEGER}, 
      #{itemStatus,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{created,jdbcType=VARCHAR}, #{updated,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.provider.safe.po.DictItem" useGeneratedKeys="true" keyProperty="id">
    insert into dict_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="dictId != null">
        dict_id,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemAlias != null">
        item_alias,
      </if>
      <if test="itemLevel != null">
        item_level,
      </if>
      <if test="itemStatus != null">
        item_status,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="dictId != null">
        #{dictId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemAlias != null">
        #{itemAlias,jdbcType=VARCHAR},
      </if>
      <if test="itemLevel != null">
        #{itemLevel,jdbcType=INTEGER},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cloud.provider.safe.po.DictItemExample" resultType="java.lang.Long">
    select count(*) from dict_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dict_item
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.enterpriseId != null">
        enterprise_id = #{record.enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="record.dictId != null">
        dict_id = #{record.dictId,jdbcType=INTEGER},
      </if>
      <if test="record.itemName != null">
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemAlias != null">
        item_alias = #{record.itemAlias,jdbcType=VARCHAR},
      </if>
      <if test="record.itemLevel != null">
        item_level = #{record.itemLevel,jdbcType=INTEGER},
      </if>
      <if test="record.itemStatus != null">
        item_status = #{record.itemStatus,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=VARCHAR},
      </if>
      <if test="record.updated != null">
        updated = #{record.updated,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dict_item
    set id = #{record.id,jdbcType=INTEGER},
      enterprise_id = #{record.enterpriseId,jdbcType=INTEGER},
      dict_id = #{record.dictId,jdbcType=INTEGER},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_alias = #{record.itemAlias,jdbcType=VARCHAR},
      item_level = #{record.itemLevel,jdbcType=INTEGER},
      item_status = #{record.itemStatus,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      created = #{record.created,jdbcType=VARCHAR},
      updated = #{record.updated,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.provider.safe.po.DictItem">
    update dict_item
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="dictId != null">
        dict_id = #{dictId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemAlias != null">
        item_alias = #{itemAlias,jdbcType=VARCHAR},
      </if>
      <if test="itemLevel != null">
        item_level = #{itemLevel,jdbcType=INTEGER},
      </if>
      <if test="itemStatus != null">
        item_status = #{itemStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.provider.safe.po.DictItem">
    update dict_item
    set enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      dict_id = #{dictId,jdbcType=INTEGER},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_alias = #{itemAlias,jdbcType=VARCHAR},
      item_level = #{itemLevel,jdbcType=INTEGER},
      item_status = #{itemStatus,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      created = #{created,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>