<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ochain.provider.wheel.dao.CarOrderRecordMapper">
  <resultMap id="BaseResultMap" type="com.ochain.provider.wheel.po.CarOrderRecord">
    <id column="id" jdbcType="BIGINT" property="carOrderRecordId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="CHAR" property="content" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="registry_no" jdbcType="BIGINT" property="registryNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, content, order_time, status, registry_no, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.ochain.provider.wheel.po.CarOrderRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car_order_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_order_record
    where id = #{carOrderRecordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from car_order_record
    where id = #{carOrderRecordId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ochain.provider.wheel.po.CarOrderRecordExample">
    delete from car_order_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ochain.provider.wheel.po.CarOrderRecord" useGeneratedKeys="true" keyProperty="carOrderRecordId">
    insert into car_order_record (id, user_id, content, 
      order_time, status, registry_no, 
      create_time, update_time)
    values (#{carOrderRecordId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{content,jdbcType=CHAR}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{registryNo,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ochain.provider.wheel.po.CarOrderRecord" useGeneratedKeys="true" keyProperty="carOrderRecordId">
    insert into car_order_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carOrderRecordId != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="registryNo != null">
        registry_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carOrderRecordId != null">
        #{carOrderRecordId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=CHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="registryNo != null">
        #{registryNo,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ochain.provider.wheel.po.CarOrderRecordExample" resultType="java.lang.Long">
    select count(*) from car_order_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update car_order_record
    <set>
      <if test="record.carOrderRecordId != null">
        id = #{record.carOrderRecordId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=CHAR},
      </if>
      <if test="record.orderTime != null">
        order_time = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.registryNo != null">
        registry_no = #{record.registryNo,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update car_order_record
    set id = #{record.carOrderRecordId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=CHAR},
      order_time = #{record.orderTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      registry_no = #{record.registryNo,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ochain.provider.wheel.po.CarOrderRecord">
    update car_order_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=CHAR},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="registryNo != null">
        registry_no = #{registryNo,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{carOrderRecordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ochain.provider.wheel.po.CarOrderRecord">
    update car_order_record
    set user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=CHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      registry_no = #{registryNo,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{carOrderRecordId,jdbcType=BIGINT}
  </update>
  
	<!-- 根据userId查询用户订单记录列表  -->
    <select id="selectCarOrderRecordListByUserId" parameterType="com.ochain.provider.wheel.param.CarOrderParam" resultType="com.ochain.provider.wheel.po.CarOrderRecord">
		select 
		id as carOrderRecordId, user_id as userId, content as content, 
      	order_time as orderTime, status as status, registry_no as registryNo, 
      	create_time as createTime, update_time as updateTime
        from car_order_record 
        where
        status = 1 
        and user_id = #{userId,jdbcType=INTEGER} 
        and order_time BETWEEN #{orderTimeStartStr,jdbcType=VARCHAR} AND #{orderTimeEndStr,jdbcType=VARCHAR} 
    </select>
  
</mapper>