<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ochain.provider.wheel.dao.CouponLogMapper">
  <resultMap id="BaseResultMap" type="com.ochain.provider.wheel.po.CouponLog">
    <id column="id" jdbcType="BIGINT" property="couponLogId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="coupon_type" jdbcType="INTEGER" property="couponType" />
    <result column="diamond" jdbcType="INTEGER" property="diamond" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="coupon_time" jdbcType="TIMESTAMP" property="couponTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, coupon_id, user_account, url, price, coupon_type, diamond, status, amount, 
    coupon_time, create_time, update_time, remark
  </sql>
  <select id="selectByExample" parameterType="com.ochain.provider.wheel.po.CouponLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coupon_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_log
    where id = #{couponLogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_log
    where id = #{couponLogId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ochain.provider.wheel.po.CouponLogExample">
    delete from coupon_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ochain.provider.wheel.po.CouponLog" useGeneratedKeys="true" keyProperty="couponLogId">
    insert into coupon_log (id, user_id, coupon_id, 
      user_account, url, price, 
      coupon_type, diamond, status, 
      amount, coupon_time, create_time, 
      update_time, remark)
    values (#{couponLogId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER}, 
      #{userAccount,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{couponType,jdbcType=INTEGER}, #{diamond,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{couponTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ochain.provider.wheel.po.CouponLog" useGeneratedKeys="true" keyProperty="couponLogId">
    insert into coupon_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="couponLogId != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="couponType != null">
        coupon_type,
      </if>
      <if test="diamond != null">
        diamond,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="couponTime != null">
        coupon_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="couponLogId != null">
        #{couponLogId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=INTEGER},
      </if>
      <if test="diamond != null">
        #{diamond,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="couponTime != null">
        #{couponTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ochain.provider.wheel.po.CouponLogExample" resultType="java.lang.Long">
    select count(*) from coupon_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coupon_log
    <set>
      <if test="record.couponLogId != null">
        id = #{record.couponLogId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.couponId != null">
        coupon_id = #{record.couponId,jdbcType=INTEGER},
      </if>
      <if test="record.userAccount != null">
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.couponType != null">
        coupon_type = #{record.couponType,jdbcType=INTEGER},
      </if>
      <if test="record.diamond != null">
        diamond = #{record.diamond,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.couponTime != null">
        coupon_time = #{record.couponTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coupon_log
    set id = #{record.couponLogId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      coupon_id = #{record.couponId,jdbcType=INTEGER},
      user_account = #{record.userAccount,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      coupon_type = #{record.couponType,jdbcType=INTEGER},
      diamond = #{record.diamond,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=INTEGER},
      coupon_time = #{record.couponTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ochain.provider.wheel.po.CouponLog">
    update coupon_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null">
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="couponType != null">
        coupon_type = #{couponType,jdbcType=INTEGER},
      </if>
      <if test="diamond != null">
        diamond = #{diamond,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="couponTime != null">
        coupon_time = #{couponTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{couponLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ochain.provider.wheel.po.CouponLog">
    update coupon_log
    set user_id = #{userId,jdbcType=INTEGER},
      coupon_id = #{couponId,jdbcType=INTEGER},
      user_account = #{userAccount,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      coupon_type = #{couponType,jdbcType=INTEGER},
      diamond = #{diamond,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      coupon_time = #{couponTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{couponLogId,jdbcType=BIGINT}
  </update>
  <!-- 根据参数查询优惠券日志/优惠券关系/gofun优惠券表  -->
    <select id="selectCouponLogAndGCouponVoListByParam" parameterType="com.ochain.provider.wheel.param.CouponLogParam" resultType="com.ochain.provider.wheel.vo.coupon.CouponLogAndGCouponVo">
		select 
      	t1.id as couponLogId, t1.user_id as userId, t1.coupon_id as couponId, t1.user_account as userAccount, 
      	t1.url as url, t1.price as price, t1.coupon_type as couponType, t1.coupon_time as couponTime, 
      	t1.diamond as diamond, t1.status as status, t1.amount as amount, 
      	t3.id as gCouponId, t3.g_name as gName, t3.g_city_name as gCityName, 
      	t3.g_area_info as gAreaInfo 
        from coupon_log t1, coupon_g_coupon t2, g_coupon t3 
        where t1.coupon_id = t2.coupon_id 
        and t2.g_coupon_id = t3.id 
        <if test="couponId != null">
            and t1.coupon_id = #{couponId,jdbcType=INTEGER}
        </if>
        <if test="userAccount != null and userAccount != ''">
            and t1.user_account = #{userAccount,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and t1.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="couponType != null">
        		and t1.coupon_type = #{couponType,jdbcType=INTEGER}
        </if>
        <if test="couponTimeStartStr != null and couponTimeStartStr != '' and couponTimeEndStr != null and couponTimeEndStr != ''">
            and t1.coupon_time BETWEEN #{couponTimeStartStr,jdbcType=VARCHAR} AND #{couponTimeEndStr,jdbcType=VARCHAR} 
        </if>
        <if test="gCouponId != null and gCouponId != ''">
            and t3.id = #{gCouponId,jdbcType=VARCHAR}
        </if>
        <if test="gName != null and gName != ''">
            and t3.g_name = #{gName,jdbcType=VARCHAR}
        </if>
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
    </select>
</mapper>