<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ochain.provider.wheel.dao.DiamondConfigMapper" >
  <resultMap id="BaseResultMap" type="com.ochain.provider.wheel.po.DiamondConfig" >
    <id column="id" property="diamondConfigId" jdbcType="INTEGER" />
    <result column="diamond_code" property="diamondCode" jdbcType="VARCHAR" />
    <result column="diamond_name" property="diamondName" jdbcType="VARCHAR" />
    <result column="diamond_type" property="diamondType" jdbcType="INTEGER" />
    <result column="send_amount" property="sendAmount" jdbcType="INTEGER" />
    <result column="is_fix" property="isFix" jdbcType="INTEGER" />
    <result column="fix_send_amount" property="fixSendAmount" jdbcType="DECIMAL" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, diamond_code, diamond_name, diamond_type, send_amount, is_fix, fix_send_amount, 
    is_delete, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ochain.provider.wheel.po.DiamondConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from diamond_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from diamond_config
    where id = #{diamondConfigId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from diamond_config
    where id = #{diamondConfigId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ochain.provider.wheel.po.DiamondConfigExample" >
    delete from diamond_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ochain.provider.wheel.po.DiamondConfig"  useGeneratedKeys="true" keyProperty="diamondConfigId" >
    insert into diamond_config (id, diamond_code, diamond_name, 
      diamond_type, send_amount, is_fix, 
      fix_send_amount, is_delete, create_time, 
      update_time)
    values (#{diamondConfigId,jdbcType=INTEGER}, #{diamondCode,jdbcType=VARCHAR}, #{diamondName,jdbcType=VARCHAR}, 
      #{diamondType,jdbcType=INTEGER}, #{sendAmount,jdbcType=INTEGER}, #{isFix,jdbcType=INTEGER}, 
      #{fixSendAmount,jdbcType=DECIMAL}, #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ochain.provider.wheel.po.DiamondConfig" useGeneratedKeys="true" keyProperty="diamondConfigId" >
    insert into diamond_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="diamondConfigId != null" >
        id,
      </if>
      <if test="diamondCode != null" >
        diamond_code,
      </if>
      <if test="diamondName != null" >
        diamond_name,
      </if>
      <if test="diamondType != null" >
        diamond_type,
      </if>
      <if test="sendAmount != null" >
        send_amount,
      </if>
      <if test="isFix != null" >
        is_fix,
      </if>
      <if test="fixSendAmount != null" >
        fix_send_amount,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="diamondConfigId != null" >
        #{diamondConfigId,jdbcType=INTEGER},
      </if>
      <if test="diamondCode != null" >
        #{diamondCode,jdbcType=VARCHAR},
      </if>
      <if test="diamondName != null" >
        #{diamondName,jdbcType=VARCHAR},
      </if>
      <if test="diamondType != null" >
        #{diamondType,jdbcType=INTEGER},
      </if>
      <if test="sendAmount != null" >
        #{sendAmount,jdbcType=INTEGER},
      </if>
      <if test="isFix != null" >
        #{isFix,jdbcType=INTEGER},
      </if>
      <if test="fixSendAmount != null" >
        #{fixSendAmount,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ochain.provider.wheel.po.DiamondConfigExample" resultType="java.lang.Integer" >
    select count(*) from diamond_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update diamond_config
    <set >
      <if test="record.diamondConfigId != null" >
        id = #{record.diamondConfigId,jdbcType=INTEGER},
      </if>
      <if test="record.diamondCode != null" >
        diamond_code = #{record.diamondCode,jdbcType=VARCHAR},
      </if>
      <if test="record.diamondName != null" >
        diamond_name = #{record.diamondName,jdbcType=VARCHAR},
      </if>
      <if test="record.diamondType != null" >
        diamond_type = #{record.diamondType,jdbcType=INTEGER},
      </if>
      <if test="record.sendAmount != null" >
        send_amount = #{record.sendAmount,jdbcType=INTEGER},
      </if>
      <if test="record.isFix != null" >
        is_fix = #{record.isFix,jdbcType=INTEGER},
      </if>
      <if test="record.fixSendAmount != null" >
        fix_send_amount = #{record.fixSendAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update diamond_config
    set id = #{record.diamondConfigId,jdbcType=INTEGER},
      diamond_code = #{record.diamondCode,jdbcType=VARCHAR},
      diamond_name = #{record.diamondName,jdbcType=VARCHAR},
      diamond_type = #{record.diamondType,jdbcType=INTEGER},
      send_amount = #{record.sendAmount,jdbcType=INTEGER},
      is_fix = #{record.isFix,jdbcType=INTEGER},
      fix_send_amount = #{record.fixSendAmount,jdbcType=DECIMAL},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ochain.provider.wheel.po.DiamondConfig" >
    update diamond_config
    <set >
      <if test="diamondCode != null" >
        diamond_code = #{diamondCode,jdbcType=VARCHAR},
      </if>
      <if test="diamondName != null" >
        diamond_name = #{diamondName,jdbcType=VARCHAR},
      </if>
      <if test="diamondType != null" >
        diamond_type = #{diamondType,jdbcType=INTEGER},
      </if>
      <if test="sendAmount != null" >
        send_amount = #{sendAmount,jdbcType=INTEGER},
      </if>
      <if test="isFix != null" >
        is_fix = #{isFix,jdbcType=INTEGER},
      </if>
      <if test="fixSendAmount != null" >
        fix_send_amount = #{fixSendAmount,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{diamondConfigId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ochain.provider.wheel.po.DiamondConfig" >
    update diamond_config
    set diamond_code = #{diamondCode,jdbcType=VARCHAR},
      diamond_name = #{diamondName,jdbcType=VARCHAR},
      diamond_type = #{diamondType,jdbcType=INTEGER},
      send_amount = #{sendAmount,jdbcType=INTEGER},
      is_fix = #{isFix,jdbcType=INTEGER},
      fix_send_amount = #{fixSendAmount,jdbcType=DECIMAL},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{diamondConfigId,jdbcType=INTEGER}
  </update>
  
  	<!-- 查询编码最大值 -->
  	<select id="selectMaxDiamondCode" resultType="com.ochain.provider.wheel.vo.diamond.DiamondConfigMaxCodeVo">
      	select max(diamond_code) as maxCode from diamond_config
  	</select>
  
  	<!-- 查询发放能量总数  -->
    <select id="selectSendDiamondSumList" resultType="com.ochain.provider.wheel.vo.diamond.DiamondConfigMaxCodeVo">
        select t1.totalSendDiamond + t2.totalFixSendAmount as totalSendDiamond
        from 
    	(select sum(send_amount) as totalSendDiamond
        from diamond_config
        where 
        is_delete = 0 
        and is_fix = 0) t1, 
    	(select sum(fix_send_amount) as totalFixSendAmount 
        from diamond_config
        where 
        is_delete = 0 
        and is_fix = 1) t2 
    </select>
    
  	<!-- 查询固定发放能量总数  -->
    <select id="selectFixSendDiamondSumList" resultType="com.ochain.provider.wheel.vo.diamond.DiamondConfigMaxCodeVo">
    	select sum(send_amount) as totalSendDiamond, sum(fix_send_amount) as totalFixSendAmount 
        from diamond_config
        where 
        is_delete = 1
        and is_fix = 1
    </select>
    
</mapper>