<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ochain.provider.wheel.dao.OrderRechargeCoinMapper">
  <resultMap id="BaseResultMap" type="com.ochain.provider.wheel.po.OrderRechargeCoin">
    <id column="id" jdbcType="BIGINT" property="orderRechargeCoinId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="order_no" jdbcType="BIGINT" property="orderNo" />
    <result column="account_addr_from" jdbcType="VARCHAR" property="accountAddrFrom" />
    <result column="account_addr_to" jdbcType="VARCHAR" property="accountAddrTo" />
    <result column="transaction_hash" jdbcType="VARCHAR" property="transactionHash" />
    <result column="gfc" jdbcType="VARCHAR" property="gfc" />
    <result column="fee" jdbcType="VARCHAR" property="fee" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, user_account, order_no, account_addr_from, account_addr_to, transaction_hash, 
    gfc, fee, status, remark, complete_time, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.ochain.provider.wheel.po.OrderRechargeCoinExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_recharge_coin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_recharge_coin
    where id = #{orderRechargeCoinId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_recharge_coin
    where id = #{orderRechargeCoinId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ochain.provider.wheel.po.OrderRechargeCoinExample">
    delete from order_recharge_coin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ochain.provider.wheel.po.OrderRechargeCoin" useGeneratedKeys="true" keyProperty="orderRechargeCoinId">
    insert into order_recharge_coin (id, user_id, user_account, 
      order_no, account_addr_from, account_addr_to, 
      transaction_hash, gfc, fee, 
      status, remark, complete_time, 
      create_time, update_time)
    values (#{orderRechargeCoinId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{userAccount,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=BIGINT}, #{accountAddrFrom,jdbcType=VARCHAR}, #{accountAddrTo,jdbcType=VARCHAR}, 
      #{transactionHash,jdbcType=VARCHAR}, #{gfc,jdbcType=VARCHAR}, #{fee,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{completeTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ochain.provider.wheel.po.OrderRechargeCoin" useGeneratedKeys="true" keyProperty="orderRechargeCoinId">
    insert into order_recharge_coin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderRechargeCoinId != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="accountAddrFrom != null">
        account_addr_from,
      </if>
      <if test="accountAddrTo != null">
        account_addr_to,
      </if>
      <if test="transactionHash != null">
        transaction_hash,
      </if>
      <if test="gfc != null">
        gfc,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="completeTime != null">
        complete_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderRechargeCoinId != null">
        #{orderRechargeCoinId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="accountAddrFrom != null">
        #{accountAddrFrom,jdbcType=VARCHAR},
      </if>
      <if test="accountAddrTo != null">
        #{accountAddrTo,jdbcType=VARCHAR},
      </if>
      <if test="transactionHash != null">
        #{transactionHash,jdbcType=VARCHAR},
      </if>
      <if test="gfc != null">
        #{gfc,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ochain.provider.wheel.po.OrderRechargeCoinExample" resultType="java.lang.Long">
    select count(*) from order_recharge_coin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_recharge_coin
    <set>
      <if test="record.orderRechargeCoinId != null">
        id = #{record.orderRechargeCoinId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userAccount != null">
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=BIGINT},
      </if>
      <if test="record.accountAddrFrom != null">
        account_addr_from = #{record.accountAddrFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.accountAddrTo != null">
        account_addr_to = #{record.accountAddrTo,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionHash != null">
        transaction_hash = #{record.transactionHash,jdbcType=VARCHAR},
      </if>
      <if test="record.gfc != null">
        gfc = #{record.gfc,jdbcType=VARCHAR},
      </if>
      <if test="record.fee != null">
        fee = #{record.fee,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.completeTime != null">
        complete_time = #{record.completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_recharge_coin
    set id = #{record.orderRechargeCoinId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_account = #{record.userAccount,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=BIGINT},
      account_addr_from = #{record.accountAddrFrom,jdbcType=VARCHAR},
      account_addr_to = #{record.accountAddrTo,jdbcType=VARCHAR},
      transaction_hash = #{record.transactionHash,jdbcType=VARCHAR},
      gfc = #{record.gfc,jdbcType=VARCHAR},
      fee = #{record.fee,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      complete_time = #{record.completeTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ochain.provider.wheel.po.OrderRechargeCoin">
    update order_recharge_coin
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="accountAddrFrom != null">
        account_addr_from = #{accountAddrFrom,jdbcType=VARCHAR},
      </if>
      <if test="accountAddrTo != null">
        account_addr_to = #{accountAddrTo,jdbcType=VARCHAR},
      </if>
      <if test="transactionHash != null">
        transaction_hash = #{transactionHash,jdbcType=VARCHAR},
      </if>
      <if test="gfc != null">
        gfc = #{gfc,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{orderRechargeCoinId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ochain.provider.wheel.po.OrderRechargeCoin">
    update order_recharge_coin
    set user_id = #{userId,jdbcType=INTEGER},
      user_account = #{userAccount,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=BIGINT},
      account_addr_from = #{accountAddrFrom,jdbcType=VARCHAR},
      account_addr_to = #{accountAddrTo,jdbcType=VARCHAR},
      transaction_hash = #{transactionHash,jdbcType=VARCHAR},
      gfc = #{gfc,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{orderRechargeCoinId,jdbcType=BIGINT}
  </update>
</mapper>